@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@100;200;300;400;500;600&family=Tourney:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html {
  font-size: 16px;
}
html,
body,
.root,
.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  color: #ddd;
  background: linear-gradient(270deg, #3095c5, #8e1f80, #bdaa0c);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
.wrapper {
  max-width: 1120px;
  margin: 0 auto;
}
.opening-text {
  padding: 20px;
  h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;
    letter-spacing: 0.02em;
    font-size: 3em;
  }
  h2, h3 {
    font-weight: 300;
    margin-top: 20px;
    letter-spacing: -1px;
  }
}

.navigation {
  .nav-card {
    margin: 40px 30px;
    border-radius: 3px;
    height: 100px;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    .img-card {
      width: 100%;
      max-width: 400px;
      height: 100px;
      background-size: 100%;
      background-position: center;
      transition: background-size 3000ms cubic-bezier(0.075, 0.82, 0.165, 1);
      border-radius: 5px;
    }
    h4 {
      font-family: serif;
      font-weight: 400;
      font-size: 1.8em;
      font-style: italic;
      letter-spacing: -0.06em;
      width: 100%;
      text-align: left;
      padding-left: 20px;
      z-index: 1;
      position: relative;
      transition: padding 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
      &:after {
        content: '';
        position: absolute;
        width: 150%;
        border-bottom: 1px solid #ccc;
        bottom: -5px;
        left: -50%;
      }
    }
    &.right {
      h4 {
        padding-left: 0;
        padding-right: 20px;
        text-align: right;
        &:after {
          left: 0;
        }
      }
    }
    &:hover {
      .img-card {
        background-size: 130%;
      }
      h4 {
        padding-left: 2px;
      }
      &.right h4 {
        padding-right: 5px;
      }
    }
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
