.swiper {
  width: 100%;
  height: 300px;
  margin-top: 80px;
  border: 1px solid #ccc;
  --swiper-navigation-color: #fff;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    left: -10px;
    top: -10px;
  }
}
.swiper-button-prev,
.swiper-button-next {
  &:after {
    display: none;
  }
  &:before {
    font-family: 'Tourney';
    font-size: 4em;
  }
}
.swiper-button-prev:before {
  content: '<';
}
.swiper-button-next:before {
  content: '>';
}
.swiper-content {
  width: 100%;
  padding: 20px 65px;
  p {
    margin-bottom: 4px;
  }
  .first-paragraph {
    margin-top: 30px;
  }
}
